header {
  width: 100vw;
  height: 50vh;
  background: hotpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

footer {
  width: 100vw;
  height: 50vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

p {
  font-size: 20px;
}
