@media screen and (max-width: 500px){
  header {
    width: 100vw;
    height: 15vh;
  }
   main {
    width: 100vw;
    height: 70vh;
  }
      aside {
      width: 100vw;
      height: 15vh;
    }
        div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      }
}
